In [8]:
import pandas as pd
import numpy as np
from nba_api.stats.static import teams

In [9]:
teams.get_teams()

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [10]:
teams.find_teams_by_city('miami')

[{'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988}]

In [20]:
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.library.parameters import SeasonAll
heat_gamelog = teamgamelog.TeamGameLog(team_id='1610612748', season=SeasonAll.all)

In [21]:
df = heat_gamelog.get_data_frames()[0]

In [22]:
df.head(10)

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612748,0022301044,"MAR 26, 2024",MIA vs. GSW,L,39.0,33.0,0.542,240,37,...,0.769,11,28,39,24,3,2,8,9,92
1,1610612748,0022301029,"MAR 24, 2024",MIA vs. CLE,W,39.0,32.0,0.549,240,43,...,0.870,9,35,44,29,13,0,9,17,121
2,1610612748,0022301013,"MAR 22, 2024",MIA vs. NOP,L,38.0,32.0,0.543,240,31,...,0.867,7,27,34,22,3,4,4,9,88
3,1610612748,0022300996,"MAR 20, 2024",MIA @ CLE,W,38.0,31.0,0.551,240,38,...,0.947,7,30,37,19,7,2,7,20,107
4,1610612748,0022300985,"MAR 18, 2024",MIA @ PHI,L,37.0,31.0,0.544,240,35,...,0.643,11,38,49,23,8,3,15,13,91
5,1610612748,0022300977,"MAR 17, 2024",MIA @ DET,W,37.0,30.0,0.552,240,40,...,0.750,11,36,47,24,7,2,9,11,104
6,1610612748,0022300962,"MAR 15, 2024",MIA @ DET,W,36.0,30.0,0.545,240,43,...,0.714,9,35,44,23,14,6,8,16,108
7,1610612748,0022300949,"MAR 13, 2024",MIA vs. DEN,L,35.0,30.0,0.538,240,34,...,0.833,8,34,42,18,5,2,8,13,88
8,1610612748,0022300926,"MAR 10, 2024",MIA vs. WAS,L,35.0,29.0,0.547,240,43,...,0.667,16,35,51,20,9,6,13,18,108
9,1610612748,0022300914,"MAR 08, 2024",MIA @ OKC,L,35.0,28.0,0.556,240,38,...,0.722,7,36,43,24,6,5,10,16,100

In [23]:
df.tail(15)

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
2860,1610612748,0028800219,"DEC 09, 1988",MIA vs. DEN,L,NaN,NaN,NaN,240,45,...,0.769,27,35,62,28,8,7,16,20,110
2861,1610612748,0028800206,"DEC 07, 1988",MIA vs. SAC,L,NaN,NaN,NaN,240,37,...,0.679,20,32,52,32,3,8,15,27,94
2862,1610612748,0028800174,"DEC 02, 1988",MIA vs. POR,L,NaN,NaN,NaN,240,45,...,0.667,19,18,37,25,9,5,22,27,102
2863,1610612748,0028800163,"NOV 30, 1988",MIA vs. SAN,L,NaN,NaN,NaN,240,39,...,0.759,16,18,34,21,9,4,28,25,101
2864,1610612748,0028800149,"NOV 29, 1988",MIA @ CHH,L,NaN,NaN,NaN,240,37,...,0.500,20,33,53,15,9,4,19,26,84
2865,1610612748,0028800146,"NOV 27, 1988",MIA @ CLE,L,NaN,NaN,NaN,240,35,...,0.714,16,24,40,16,5,3,25,29,80
2866,1610612748,0028800139,"NOV 26, 1988",MIA @ MIL,L,NaN,NaN,NaN,240,34,...,0.714,15,26,41,21,15,1,23,30,93
2867,1610612748,0028800118,"NOV 23, 1988",MIA vs. LAL,L,NaN,NaN,NaN,240,42,...,0.545,20,23,43,24,2,0,17,27,91
2868,1610612748,0028800088,"NOV 18, 1988",MIA vs. GOS,L,NaN,NaN,NaN,265,46,...,0.774,20,30,50,27,9,5,25,35,117
2869,1610612748,0028800082,"NOV 17, 1988",MIA @ HOU,L,NaN,NaN,NaN,240,40,...,0.595,13,27,40,23,15,2,19,37,107
2870,1610612748,0028800070,"NOV 15, 1988",MIA vs. BOS,L,NaN,NaN,NaN,240,29,...,0.500,19,26,45,18,14,4,20,23,65
2871,1610612748,0028800051,"NOV 11, 1988",MIA vs. HOU,L,NaN,NaN,NaN,240,40,...,0.720,17,14,31,25,11,3,16,20,100
2872,1610612748,0028800037,"NOV 09, 1988",MIA @ SAN,L,NaN,NaN,NaN,240,37,...,0.679,16,21,37,14,10,6,24,23,93
2873,1610612748,0028800027,"NOV 08, 1988",MIA @ DAL,L,NaN,NaN,NaN,240,36,...,0.696,18,27,45,18,10,3,11,24,88
2874,1610612748,0028800014,"NOV 05, 1988",MIA vs. LAC,L,NaN,NaN,NaN,240,36,...,0.704,22,21,43,14,9,6,20,27,91

In [24]:
pd.set_option('display.max_columns', None)

In [25]:
df

,Team_ID,Game_ID,GAME_DATE,MATCHUP,WL,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1610612748,0022301044,"MAR 26, 2024",MIA vs. GSW,L,39.0,33.0,0.542,240,37,92,0.402,8,33,0.242,10,13,0.769,11,28,39,24,3,2,8,9,92
1,1610612748,0022301029,"MAR 24, 2024",MIA vs. CLE,W,39.0,32.0,0.549,240,43,83,0.518,15,38,0.395,20,23,0.870,9,35,44,29,13,0,9,17,121
2,1610612748,0022301013,"MAR 22, 2024",MIA vs. NOP,L,38.0,32.0,0.543,240,31,86,0.360,13,47,0.277,13,15,0.867,7,27,34,22,3,4,4,9,88
3,1610612748,0022300996,"MAR 20, 2024",MIA @ CLE,W,38.0,31.0,0.551,240,38,83,0.458,13,36,0.361,18,19,0.947,7,30,37,19,7,2,7,20,107
4,1610612748,0022300985,"MAR 18, 2024",MIA @ PHI,L,37.0,31.0,0.544,240,35,89,0.393,12,33,0.364,9,14,0.643,11,38,49,23,8,3,15,13,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,1610612748,0028800070,"NOV 15, 1988",MIA vs. BOS,L,NaN,NaN,NaN,240,29,91,0.319,1,1,1.000,6,12,0.500,19,26,45,18,14,4,20,23,65
2871,1610612748,0028800051,"NOV 11, 1988",MIA vs. HOU,L,NaN,NaN,NaN,240,40,89,0.449,2,3,0.667,18,25,0.720,17,14,31,25,11,3,16,20,100
2872,1610612748,0028800037,"NOV 09, 1988",MIA @ SAN,L,NaN,NaN,NaN,240,37,80,0.463,0,4,0.000,19,28,0.679,16,21,37,14,10,6,24,23,93
2873,1610612748,0028800027,"NOV 08, 1988",MIA @ DAL,L,NaN,NaN,NaN,240,36,96,0.375,0,1,0.000,16,23,0.696,18,27,45,18,10,3,11,24,88
2874,1610612748,0028800014,"NOV 05, 1988",MIA vs. LAC,L,NaN,NaN,NaN,240,36,97,0.371,0,2,0.000,19,27,0.704,22,21,43,14,9,6,20,27,91